@namespace url(http://www.w3.org/1999/xhtml); /* set default namespace to HTML */

/* GENERAL STYLES */

body {
    background: linear-gradient(to right, green, yellow);
/*    background-color: #000044; */
	color: #ffffff;
	margin: 0;
    font: 12pt/1.5 Helvetica, Arial, sans-serif;
}
A:link  {
    color: #0CF;
}
A:visited {
    color: #FC0;
}
A:active {
    color: #F00;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    background: linear-gradient(to right, #060, #066);
}

.trace {
    border: 1px solid #0F0;
    background: linear-gradient(to right, #060, #066);
    font-family: arial narrow, sans-serif;
}

table .wikitable {
    background: linear-gradient(to right, #060, #066);
}

.stack-elem-cell {
    border: 1px solid #0C0;
    padding: 0px;
    margin: 0px;
}

/* PAGE ELEMENTS */
.content {		/* <ul> style seems to override this unless prefixed with .content */
	border: 1px solid black;
	background: #003;	/* something pleasant and neutral */
	font-family: sans-serif;
}
.content A:link  {
        color: #ffbb99;
        }
.content A:visited {
        color: #99bbff;
        }
.content A:active {
        color: #00ffff;
        }

.border { /* used for borders that have background images, if we really want that */
	/* background: url("/tools/img/bg/lines/"); */
	background: black;
	}
.pretitle {
	text-shadow: black 3px 3px 1px;
}
.page-title {
	color: white;
	/* text-shadow: black -2px -2px 1px, black 2px 2px 1px; */
	text-shadow: black 4px 4px 1px;
}
.subtitle {
	font-family: serif;
	font-style: italic;
	font-size: 9pt;
	color: #ffffdd;
}
/* 2014-08-17 at the moment, only section-header-sub is actually used */
.page-header, .section-header, .section-header-sub {
	display: block;
	width: 99%;
	background: url("../img/bg/hlines/");
	font-family: sans-serif;
	/* font-style: italic; */
	border: 1px solid black;
	text-shadow: black 2px 2px 1px;
}
.section-header {
	font-family: sans-serif;
	color: white;
	background: black;
	border: solid 1px white;
	/* text-shadow: black -2px -2px 1px, black 2px 2px 1px; */
}
table.error-message, table.warning-message, .warning-message {
	color: black;
/*	font-size: 12pt; */
	/* font-family: verdana, arial, helvetica, sans-serif; */
	border: 2px solid red;
	background: yellow;
/*    border: solid 5px black; */
/*    background: url('/tools/img/bg/lines/'); */
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;
}
.footer-stats {
	clear: both;
	text-align: right;
	font-family: serif;
	font-size: 8pt;
	/* font-style: italic; */
}
.catalog-content .catalog-text {	/* actual catalog page content */
    background: url('../img/bg/lines/');
    border: solid 5px black;
}
/* messages and other text that doesn't have a specific format */


/* ITEM DISPLAY STYLES (may apply to cart lines too) */
td.title-price	{
	background: #3333aa;
	}
.char-currency {
	font-size: smaller;
	color: #88f;
	float: left;
}

/* IMAGE ZOOM PAGE */

table.image-navbar {
    background: black;
    border: solid 1px white;
    margin-left: auto;
    margin-right: auto;
}
.image-links {
    text-align: center;
}
.row-label {
    color: #aaa;
}

.image-navbar A:visited {
    color: #aaff66;
}
.image-navbar A:link {
    color: #88ffaa;
}
.image-navbar A:hover {
    color: #00ffff;	/* this doesn't seem to work */
/*    text-decoration: none;	*/
}
img.image-title-big, img.image-title-zoom {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.image-title-th {
    display: inline;
    border: 1px solid;
}
A.img.image-title-th:hover {
    color: #00ff00;
}

/* SHOPPING CART STYLES */
td.cart-price {
	background: #444466;
}
td.total-amount {
	background: #445555;
}
td.total-final {
	background: #446644;
	font-weight: bold;
}
table.cart {
	background: black;
}
.text-btn {
	/* background: #ffff88; */
	color: #ffffff;
	background: #112211;
	border: 2px outset green;
	margin: 2px;
	padding: 2px;
	}
.text-btn A:link {
	color: #ff8800;
	}
.text-btn A:visited {
	color: #aaffff;
	}

/* UNCLASSIFIED STYLES (classify them!) */

A.thumb:hover {
	color: #00ff00;
	text-decoration: none;
	}
.thumbs A:visited {
        color: #aaff66;
        }
.thumbs A:link {
        color: #88ffaa;
        }
.sub	{
	font-size: 6pt;
	}
.imgcap {
	font-size: 8pt;
	background-color: #000044;
	}
.thumbtbl {
	display: inline;
	vertical-align: text-top;
	}
.menu-status {
	font-size: 8pt;
	}
.hdr {
	background: url("../img/bg/hdr/");
	}
p.hdr-sub {
	/* display: block; /**/
	margin-top: 6pt;
	margin-left: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 1pt;
	}
.pretitle {
	font-family: sans-serif;
	font-style: italic;
	font-size: 10pt;
	color: #ffffdd;
	}
.pretitle A:visited {
        color: #aaff66;
        }
.pretitle A:link {
        color: #88ffaa;
        }
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
.page-title-other {
	color: #bbbbbb;
	font-size: 18pt;
	font-style: normal;
	}
.page-title-supplier {
	color: #bbccff;
}
td.menu {
	background: #ffffff;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.item-info {
	background: #000000;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 1pt;
	}
.main A:visited {
        color: #aaff66;
	background: #000000;
        }
.main A:link {
        color: #88ffaa;
	background: #000000;
        }
p.main	{
	margin-top: 6pt;
	margin-left: 6pt;
	}
p.main ul	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main dl	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
dl.titleinfo {
	padding-left: 1em;
}
table.main td	{
	font-size: 12pt;
	padding-left: 3pt;
	padding-right: 3pt;
	vertical-align: top;
	}
.inStock	{
	background: #006600;
        font-weight: bold;
	}
.catalog-summary, .depts {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;	/**/
	color: #ffffdd;
	}
table.catalog-summary {
	border: solid 1px white;
}
.catalog-summary td, .depts td {
	vertical-align: text-top;
	}
/* link colors need to be lighter when the background is darker */
.catalog-summary A:link, .depts A:link {
        color: #00ddff;
	}
.catalog-summary A:visited, .depts A:visited {
        color: #ffdd00;
	}
.catalog-summary A:active, .depts A:active {
        color: #00ffff;
	}
.catalog-summary A:hover, .depts A:hover {
        color: #ffff66;
	}
td.catalog {
	background: #006600;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffdd;
	margin: 0;
	padding: 2pt;
	}
td.catalog A:visited, td.catalog-stripe A:visited {
        color: #aaff66;
        }
td.catalog A:link, td.catalog-stripe A:link {
        color: #88ffaa;
        }
.catalog-stripe td {
	background: #000044;
	}
tr.unavail td	{
	color: #aaaaaa;
	}
.main-hilite {
	color: #33ccff;
	}
ul.main	li {
	margin-left: 2em;
	}
.bigger	{
	font-size: 12pt;
	}
.alert {
	background: #662200;
}
.needData {
	color: #ffeeaa;
	background: #662200;
}
.hidden {
	display: none;
}
.text-section {
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.result-header {
	color: #ffaa00;
	background: #000000;
/*	font-family: arial, helvetica, sans-serif; */
	font-family: roman, serif;
	font-size: larger;
	}
.item-info {
	color: #ffffff;
	background: #111122;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	}
/* 2016-01-24 This overrides too many things...
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	} */
td.wiki A:visited {
        color: #aaff66;
	background: #000000;
        }
td.wiki A:link {
        color: #88ffaa;
	background: #000000;
        }
ul.main	{
	font-size: 14pt;
	background: #000000;
	}
ul ul	{
	font-size: 12pt;
	font-weight: bold;
	}
ul ul ul	{
	font-size: 10pt;
	}
ul.main A:visited {
        color: #aaff00;
	background: #000000;
        }
ul.main A:link {
        color: #00ff00;
	background: #000000;
        }
ul ul A:visited {
        color: #ccff00;
        }
ul ul A:link {
        color: #00ff00;
        }
