/*
  HISTORY:
    2016-01-24 copied admin.css from ckout.css; removed a few unused styles.
*/

/* GENERAL STYLES */

body {
	/*background-color: #ffffff;*/
	background: url("/static/img/bg/page/");
	}
A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
.state-on {
    font-weight: bold;
    background-color: #eef;
    border: 1px solid #00f;
}
/* maybe this should be "state-off". Also, document how "state-on" differs from "state-active". */
.state-normal {
}
.state-active {
    font-weight: bold;
    color: #080;
}
.state-inactive {
    font-weight: normal;
    color: #f66;
    font-style: italic;
}
.error {
    color: #f00;
}
.voided {
    font-style: italic;
    text-decoration: line-through;
    color: red;
}

/* PAGE ELEMENTS */

caption {
	font-size: 15pt;
	background: #88ff00;
}
td.order-conf-layout {
	border: 2px solid blue;
	padding: 10px;
}
.header-block {
	display: block;
	width: 100%;
	background: url("/static/img/bg/light/");
	font-family: sans-serif;
	/* font-style: italic; */
	border: 1px solid black;
}
.page-title {
	font-size: 18pt;
	font-weight: bold;
	text-shadow: white 2px 2px 1px;
}
.section-title {
	font-size: 15pt;
	font-weight: bold;
	text-shadow: white 2px 2px 1px;
}
/* header widgets could be anywhere; they just need to have some consistency in appearance */
.header-widgets {
	font-size: 10pt;
}
/* this is "login" or "hello <username>" */
.header-login {
	float: right;
}

/* MESSAGES */

.message, {
	color: black;
/*	font-size: 12pt; */
	/* font-family: verdana, arial, helvetica, sans-serif; */
/*    border: solid 5px black; */
/*    background: url('/tools/img/bg/lines/'); */
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;
}
.error-message {
	border: 2px solid red;
	background: yellow;
}
.warning-message {
	border: 2px solid #ff6600;	/* a first guess - should be orange */
	background: yellow;
}
.success-message {
	border: 2px solid green;
	background: #66ff00;		/* a first guess - should be spring green */
}
.content, .content ul {		/* <ul> style seems to override this unless prefixed with .content */
	border: 1px solid black;
	background: #eee;	/* something pleasant and neutral */
}
.record-block {
	border: 1px solid black;
	background: #eef;	/* something pleasant and neutral */
}
.footer-stats, .line-stats {
	/* clear: both; */
	/*display: block; */
	width: 100%;
	font-family: sans-serif;
	font-size: 8pt;
	/* font-style: italic; */
}

/* FORMS */

.form-record, .form-block, .form-block-login {
	font-family: sans-serif;
	font-size: 14pt;
	
	/*background: #0a0;*/
	/* background: radial-gradient(#f88, #aaf); */
	background: radial-gradient(#ff0, #0f0);
	/*box-shadow: 5px 5px 3px 1px #006;*/
}
table.form-record tr td {
	font-size: 14pt;
}
.form-label {
	font-weight: bold;
	text-align: right;
}
.form-block, .form-block-login {
	/* center the form */
	margin-left: auto;
	margin-right: auto;
}
.form-block-login {
	width: auto;
	
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
/* ++ HEADERS ++ */

.page-header, .section-header {
	font-size: 16pt;
	font-weight: bold;
	text-shadow: white 2px 2px 1px;
}
.section-header {
        /*background-color: #00ff00;*/
	background: linear-gradient( 45deg, yellow, red, rgba(0,0,0,0) );
	display: block;
	border: 1px solid black;
}
.section-title {
        font-family: sans-serif;
/*        font-size: 12pt;	*/
}
.section-header-year {
	width: 100%;
	color: #fff;
	background-color: #006;
	color: #ffffff;
	font-size: 16pt;
	font-weight: bold;
}

/* -- HEADERS -- */
/* ++ ACTION MENUS ++ */

.ctrl-link-action {
	text-decoration: none;
	font-size: 10pt;
	/* float: right; */
	background: white;
	border: 1px solid black;
	/* border-top: none; */
}

.ctrl-link-action A:hover {
	/* background: #cfc; */
	border: solid yellow;
	background: #ffc;
}
.menu-link-inactive .ctrl-link-action {
	font-weight: normal;
}
.menu-link-active .ctrl-link-action {
	font-weight: bold;
	border: 2px solid green;
	background: #cfc;
}

/* -- ACTION MENUS -- */
/* ++ DEPRECATED ++ */
/*
.page-header, .section-header, .section-header-sub, .section-header-subsub {
	text-shadow: white 2px 2px 1px;
}
.page-header, .section-header {
	font-size: 16pt;
	font-weight: bold;
}
.section-header-sub {
	font-size: 14pt;
}
.section-header-subsub {
	font-size: 12pt;
}
*/
/* -- DEPRECATED -- */

.table-section-header {
	font-size: 14pt;
	/*background: #aaaaee;*/
	background: #ffff66;
	color: #444444;
	font-weight: bold;
}
.table-cell-indent {
	background: #666;
}

.subtitle {
	font-family: sans-serif;
	font-style: italic;
}
.status-bar {
	display: block;
/*	width: 100%; */
	text-align: center;
	font-family: sans-serif;
	border: 1px solid #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
}
.form-block, .form-block-login {	/* main content block */
/*
	width: auto; */

/* this centers the checkout form */
	margin-left: auto;
	margin-right: auto;

	font-family: sans-serif;
	font-size: 9pt;
}
.form-block-login {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.hline-section {
	display: block;
	background: url("/static/img/bg/hlines/") repeat-x;
  /*
	display: inline;
	clear: both;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	height: 1px;
	*/
}
.auxiliary-info {	/* stuff that should stay out of the main flow */
    float: right;
    border: solid black 1px;
    font-size: 10pt;
}
table.listing {
	border: 1px solid black;
	background: radial-gradient(yellow, green);
	/*box-shadow: 5px 5px 3px 1px #999;*/
}

/* ++ ITEM STATUS ++ */

table.listing tr th {
	background: #aaf;
}
/* table.listing tr td { */
.listing {	/* let other td styles override this */
	background: white;
}
table.listing tr.odd td {
	/* background: #ddf; */
	background: #fff;
}
table.listing tr.even td {
	/* background: #dfd; */
	background: #eee;
}
table.listing tr.void td {
	color: #888;
	text-decoration:line-through;
}
table.listing tr.inact td {
	color: #fff;	/* more visible against default background */
	/* color: #888; */
}
.inactive {
    color: #888;
}
.out-of-print {
    font-style: italic;
}
.pulled, .void {
    text-decoration: line-through;
}

/* -- ITEM STATUS -- */

/* stuff that should be small so it can fit on a line */

.line-stats {
	text-align: left;
}
.footer-stats {
	text-align: center;	/* why? */
}
.line-notes {
	font-family: sans-serif;
	font-size: 8pt;
}

ul.log, ul.listing, table.listing {
	margin: 1em;
	font-size: 9pt;
	font-family: sans-serif;
	/* border-image-source: url("/static/img/bg/hdr/"); */
	/* MENU BOX */
}
ul.log, ul.listing {
	display: block;
	float: left;
	padding: 1em; /* internal margin */
	padding-left: 2em;
	border: 1px solid black;
	background: white;
}


/* CONTROL MENU */

ul.menu {
	display: block;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
	padding-left: 2em;
	background: white;
	font-size: 9pt;
	font-family: sans-serif;
	/* border-image-source: url("/static/img/bg/hdr/"); */
	/* MENU BOX */
	float: left;
}
.node-active {
	font-weight: bold;
}

/* USER/LOGIN ELEMENTS */
.logout-inline {
	float: right;
}

/* UNCLASSIFIED STYLES (classify them!) */

/* 2016-12-19 Conflicts with class-name I want to use
.page-title {
        color: #000000;
	background-color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
*/
.menu-title {
        width: 100%;
        background-color: #cccccc;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	}
input {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #eeeeff;
	}
.main A:visited {
        color: #00aa00;
        }
.main A:link {
        color: #00ff00;
        }
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	}
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	}
.total-desc {
	background: #ffcc88;
	font-size: 12pt;
	}
.total-amount {
	background: #ddee88;
	font-size: 12pt;
	}
.total-final {
	background: #ddffdd;
	color: #000000;
	font-size: 14pt;
	font-weight: bold;
	}
.cart {
	background: #ffffff;
	}
