/* 2013-11-21
 * These are bits of disused CSS that I've removed from browse.css but saved in case they're needed.
 */

/* 2012-05-11 are these being used anywhere? */
A.dark-bg:link  {
        color: #00ddff;
        }
A.dark-bg:visited {
        color: #ffdd00;
        }
A.dark-bg:active {
        color: #00ffff;
        }
A.dark-bg:hover {
        color: #ffff66;
        }

th.price	{
	background: #aaaaff;
	}
	
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}

 ul A:visited {
        color: #ffcc00;
        }
 ul A:link {
        color: #aaff00;
        }
	
.section-header {
	font-family: sans-serif;
	/* text-shadow: 1px 3px black, -1px -1px #444; */
/* black with ghostly shadow
	color: white;
	text-shadow: white -2px -2px 3px, white 2px 2px 1px;
*/
	color: white;
	text-shadow: black -2px -2px 1px, black 2px 2px 1px;
}
