@namespace url(http://www.w3.org/1999/xhtml); /* set default namespace to HTML */

A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
body {
	background-color: #000044;
	color: #ffffff;
	}
.sub	{
	font-size: 6pt;
	}
.menu-status {
	font-size: 8pt;
	}
.pretitle {
	font-family: serif;
	font-style: italic;
	font-size: 9pt;
	color: #ffffdd;
	}
.pretitle A:visited {
        color: #aaff66;
        }
.pretitle A:link {
        color: #88ffaa;
        }
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
.subtitle {
	font-family: serif;
	font-style: italic;
	font-size: 9pt;
	color: #ffffdd;
	}
td.menu {
	background: #ffffff;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.item-info {
	background: #000000;
	}
p.main	{
	margin-top: 6pt;
	}
p.main ul	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main dl	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
ul A:visited {
        color: #aaff00;
	background: #000000;
        }
ul A:link {
        color: #00ff00;
	background: #000000;
        }
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main A:visited {
        color: #aaff66;
	background: #000000;
        }
.main A:link {
        color: #88ffaa;
	background: #000000;
        }
.thumbs A:visited {
        color: #aaff66;
        }
.thumbs A:link {
        color: #88ffaa;
        }
.bigger	{
	font-size: 12pt;
	}
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
.text-section {
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.result-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.item-info {
	color: #ffffff;
	background: #1111222;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	}
.text-btn {
	background: #ffff88;
	color: #ffffff;
	}
.text-btn A:link {
	color: #ff8800;
	}
.text-btn A:visited {
	color: #aaffff;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	}
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	}
.total-desc {
	background: #ffcc88;
	font-size: 12pt;
	}
.total-amount {
	background: #ddee88;
	font-size: 12pt;
	}
.total-final {
	background: #006633;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	}
.cart {
	background: #ffffff;
	}
.checkout {
	background: #000000;
	border: inset;
	}
