@namespace url(http://www.w3.org/1999/xhtml); /* set default namespace to HTML */

A:link  {
//        color: #004466;
		color: #ff0000;
        }
A:visited {
//        color: #664400;
		color: #0000ff;
        }
A:active {
        color: #ff0000;
        }
a.hover {
		color: #00ff00;
		text-decoration: none;
		}
body {
	background: url("/tools/img/bg/page/");
	background-color: #000044;
	color: #ffffff;
	}
.sub	{
	font-size: 6pt;
	}
.menu-status {
	font-size: 8pt;
	}
.hdr {
	background: url("/tools/img/bg/hdr/");
	}
.pretitle {
	font-family: sans-serif;
	font-style: italic;
	font-size: 10pt;
	color: #ffffdd;
	}
.pretitle A:visited {
        color: #aaff66;
        }
.pretitle A:link {
        color: #88ffaa;
        }
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
.page-title-other {
	color: #bbbbbb;
	font-size: 18pt;
	font-style: normal;
	}
.page-title-supplier {
	color: #bbccff;
}
.subtitle {
	font-family: serif;
	font-style: italic;
	font-size: 9pt;
	color: #ffffdd;
	}
td.menu {
	background: #ffffff;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.item-info {
	background: #000000;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 1pt;
	}
.main A:visited {
        color: #aaff66;
	background: #000000;
        }
.main A:link {
        color: #88ffaa;
	background: #000000;
        }
p.main	{
	margin-top: 6pt;
	margin-left: 6pt;
	}
p.main ul	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main dl	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
table.main td	{
	font-size: 12pt;
	padding-left: 3pt;
	padding-right: 3pt;
	vertical-align: top;
	}
.inStock	{
	background: #006600;
        font-weight: bold;
	}
th.price	{
	background: #666666;
	}
td.price	{
	background: #666666;
	}
tr.unavail td	{
	color: #aaaaaa;
	}
.main-hilite {
	color: #33ccff;
	}
ul.main	li {
	margin-left: 2em;
	}
.thumbs A:visited {
        color: #aaff66;
        }
.thumbs A:link {
        color: #88ffaa;
        }
.bigger	{
	font-size: 12pt;
	}
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
.text-section {
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.result-header {
	color: #ffaa00;
	background: #000000;
/*	font-family: arial, helvetica, sans-serif; */
	font-family: roman, serif;
	font-size: larger;
	}
.item-info {
	color: #ffffff;
	background: #111122;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	}
.text-btn {
	background: #ffff88;
	color: #ffffff;
	}
.text-btn A:link {
	color: #ff8800;
	}
.text-btn A:visited {
	color: #aaffff;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	}
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	}
ul.main	{
	font-size: 14pt;
	background: #000000;
	}
ul ul	{
	font-size: 12pt;
	font-weight: bold;
	}
ul ul ul	{
	font-size: 10pt;
	}
ul.main A:visited {
        color: #aaff00;
	background: #000000;
        }
ul.main A:link {
        color: #00ff00;
	background: #000000;
        }
# ul A:visited {
#        color: #ffcc00;
#        }
# ul A:link {
#        color: #aaff00;
#        }
ul ul A:visited {
        color: #ccff00;
        }
ul ul A:link {
        color: #00ff00;
        }
