/*
 FILE: cart.css
 PURPOSE: style sheet for vbzcart shopping cart
*/
A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
body {
	/*background: url("/tools/img/bg/page/");*/
	background-color: #000033;
	color: #ffffff;
	margin: 0;
}
.border {
	background: #000000 url("/static/img/bg/lines");
}
.hdr {
	background: url("/static/img/bg/hdr/");
	/* background: #000000; */
}
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
}
div.footer-stats {
	text-align: right;
	font-family: serif;
	font-size: 8pt;
	color: grey;
	/* font-style: italic; */
}
td.menu {
	background: #ffffff;
}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.menu-status {
	font-size: 8pt;
	color: #ffffff;
	}
.list-unbound {
	background: #000000;
}
.section {
	font-size: 12pt;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13pt;
	color: #ffffdd;
	background-color: #000000;
	margin: 0;
	padding: 0;
	}
.main A:visited {
        color: #aadd00;
        }
.main A:link {
        color: #00ff00;
        }
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
.result-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.text-btn {
	/* background: #ffff88; */
	color: #664400;
	font-weight: bold;
	}
.text-btn A:link {
	color: #ff0000;
	}
.text-btn A:visited {
	color: #ff6600;
	}
.btn-next {
	font-weight: bold;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	}

/* cart display table colors */
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	/* color: #ffffff; */
	}
th	{
	background-color: #dddddd;
	}
/*---*/

/* page header colors */
.hdr td {
	color: #ffffff;
	}
.hdr A:link {
	color: #ffdd88;
	}
.hdr A:visited {
	color: #88dddd;
	}
/*---*/

.total-desc {
	/* background: #ffcc88; */
	background: #ccff88;
	font-size: 12pt;
	}
.total-amount {
	background: #ddee88;
	font-size: 12pt;
	}
.total-final {
	background: #006633;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	}
.cart {
	background: #ffffff;
	margin: 3px;
	}
.checkout {
	/* background: url("/tools/img/bg/lines/"); */
	background: #ffffff;
	font-weight: bold;
	/*color: #ffffff;*/
	}
select {
	font-size: 10pt;
	}
/* 2016-03-27 I don't think anything actually uses the error-msg class.
.error-msg {
	font-size: 11pt;
	color: #ffffdd;
	}
.error-msg A:visited {
        color: #ff8800;
        }
.error-msg A:link {
        color: #eeee00;
        }
*/
/* stuff that applies to the message-box table */
table.error-message, table.warning-message, table.success-message {
    border: 2px solid red;
    background: yellow;
}
/* stuff that applies to the message-box contents */
table.error-message tr td, table.warning-message tr td, table.success-message tr td {
	color: black;
/*	font-size: 12pt; */
	/* font-family: verdana, arial, helvetica, sans-serif; */
/*    border: solid 5px black; */
/*    background: url('/tools/img/bg/lines/'); */
    font-family: verdana, arial, sans-serif;
    font-size: 16pt;
    vertical-align: center;
}
#cart-table {
    margin: 0 auto;
    margin-top: 1em;
}