/*
  2016-01-24 This is now *only* for checkout pages, though it still contains a lot of styles that are
    only used by admin pages. We need to go through the checkout pages and confirm which ones are
    actually needed.
*/

/* GENERAL STYLES */

A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
body {
	background-color: #ffffff;
	}
.state-on {
    font-weight: bold;
    background-color: #eef;
    border: 1px solid #00f;
}
.state-active {
    font-weight: bold;
    color: #080;
}
.state-inactive {
    font-weight: normal;
    color: #f66;
    font-style: italic;
}
.error {
    color: #f00;
}
.voided {
    font-style: italic;
    text-decoration: line-through;
    color: red;
}

/* PAGE ELEMENTS */

.header-block {
	display: block;
	width: 100%;
	background: url("/static/img/bg/light/");
	font-family: sans-serif;
	/* font-style: italic; */
	border: 1px solid black;
}
td.order-conf-layout {
    border: 2px solid blue;
    padding: 10px;
}
.page-header, .section-header, .section-header-sub {
	display: block;
	width: 100%;
	background: url("/static/img/bg/light/");
	font-family: sans-serif;
	/* font-style: italic; */
	border: 1px solid black;
	text-shadow: white 2px 2px 1px;
}
.page-header, .section-header {
	font-size: 16pt;
	font-weight: bold;
}
.header-widgets {
	font-size: 10pt;
	font-family: sans-serif;
}
.header-login {
	float: right;
}
.section-header-sub {
	font-size: 14pt;
}

.ctrl-link-action {
	text-decoration: none;
	font-size: 10pt;
	float: right;
	background: white;
	border: 1px solid black;
	border-top: none;
}

.ctrl-link-action A:hover {
	/* background: #cfc; */
	border: solid yellow;
	background: #ffc;
}
/* ++ ACTION MENUS ++ */
.ctrl-link-action A.menu-link-inactive {
	font-weight: normal;
}
.ctrl-link-action A.menu-link-active {
	font-weight: bold;
	border: 2px solid green;
	background: #cfc;
}
/* -- ACTION MENUS -- */
.subtitle {
	font-family: sans-serif;
	font-style: italic;
}
.status-bar {
	display: block;
/*	width: 100%; */
	text-align: center;
	font-family: sans-serif;
	border: 1px solid #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
}
.nav-bar {
	background: #ffffee;	/* tweak this */
	border: 1px solid blue;
}
.form-block, .form-block-login {	/* main content block */
/*
	width: auto; */

/* this centers the checkout form */
	margin-left: auto;
	margin-right: auto;

	font-family: sans-serif;
	font-size: 12pt;
}
.form-block-login {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.hline-section {
	display: block;
	background: url("/static/img/bg/hlines/") repeat-x;
  /*
	display: inline;
	clear: both;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	height: 1px;
	*/
}
.auxiliary-info {	/* stuff that should float off to the right */
    float: right;
    border: solid black 1px;
    font-size: 10pt;
}
table.listing {
	border: 1px solid black;
	background: radial-gradient(yellow, green);
	box-shadow: 5px 5px 3px 1px #999;
}

  /* STATUS MESSAGES */

.message, {
	color: black;
/*	font-size: 12pt; */
	/* font-family: verdana, arial, helvetica, sans-serif; */
/*    border: solid 5px black; */
/*    background: url('/tools/img/bg/lines/'); */
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;
}
.error-message {
	border: 2px solid red;
	background: yellow;
}
.warning-message {
	border: 2px solid #ff6600;	/* a first guess - should be orange */
	background: yellow;
}
.success-message {
	border: 2px solid green;
	background: #66ff00;		/* a first guess - should be spring green */
}

/* ++ ITEM STATUS ++ */

table.listing tr th {
	background: #aaf;
}
/* table.listing tr td { */
.listing {	/* let other td styles override this */
	background: white;
}
table.listing tr.odd td {
	background: #eef;
}
table.listing tr.even td {
	background: #fff;
}
table.listing tr.void td {
	color: #888;
	text-decoration:line-through;
}
.inactive {
    color: #888;
}
.out-of-print {
    font-style: italic;
}
.pulled {
    text-decoration: line-through;
}

/* -- ITEM STATUS -- */

/* line-stats is probably a better name -- stats that ideally fit on a single line */

.footer-stats, .line-stats {
	/* clear: both; */
	/*display: block; */
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 8pt;
	/* font-style: italic; */
}
.line-notes {
	font-family: sans-serif;
	font-size: 8pt;
}

ul.log, ul.listing, table.listing {
	margin: 1em;
	font-size: 9pt;
	font-family: sans-serif;
	/* border-image-source: url("/tools/img/bg/hdr/"); */
	/* MENU BOX */
}
ul.log, ul.listing {
	display: block;
	float: left;
	padding: 1em; /* internal margin */
	padding-left: 2em;
	border: 1px solid black;
	background: white;
}


/* CONTROL MENU */

ul.menu {
	display: block;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
	padding-left: 2em;
	background: white;
	font-size: 9pt;
	font-family: sans-serif;
	/* border-image-source: url("/tools/img/bg/hdr/"); */
	/* MENU BOX */
	float: left;
}
.node-active {
	font-weight: bold;
}

/* USER/LOGIN ELEMENTS */
.logout-inline {
	float: right;
}

/* UNCLASSIFIED STYLES (classify them!) */

.page-title {
        color: #000000;
	/* background-color: #ffffff; */
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	text-shadow: #cc8 4px 4px 1px;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
tr.section-title td {
        background-color: #ffffaa;
        font-family: sans-serif;
        font-size: 12pt;
	border: 1px solid black;
	border-collapse: collapse;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	}
input {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #eeeeff;
	}
.main A:visited {
        color: #00aa00;
        }
.main A:link {
        color: #00ff00;
        }
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
span.nav-item {
	/* color: grey; */
	}
span.nav-item-active {
	color: blue;
	font-weight: bold;
	}
span.nav-item-past {
	color: green;
	}
span.nav-item-todo {
	color: #8888ff;
	}
span.nav-link-current {
	font-weight: bold;
	}
.result-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.checkout {
	background: #ddddee;
	border: inset;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	}
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	}
.total-desc {
	background: #ffcc88;
	font-size: 12pt;
	}
.total-amount {
	background: #ddee88;
	font-size: 12pt;
	}
.total-final {
	background: #ddffdd;
	color: #000000;
	font-size: 14pt;
	font-weight: bold;
	}
.cart {
	background: #ffffff;
	}
