A:link  {
        color: #aaccff;
        }
A:visited {
        color: #ffccaa;
        }
A:active {
        color: #ff0000;
        }
A.thumb:hover {
		color: #00ff00;
		text-decoration: none;
		}
body {
	background: url(/tools/img/bg/page/);
	background-color: #000044;
	color: #ffffff;
	}
td.menu {
	background: #ffffff;
	}
.pretitle {
	font-family: serif;
	font-style: italic;
	font-size: 9pt;
	color: #ffffdd;
	}
.pretitle A:visited {
        color: #00aa00;
        }
.pretitle A:link {
        color: #00ff00;
        }
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.menu-status {
	font-size: 8pt;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #000000;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main A:visited {
        color: #ffaa00;
        }
.main A:link {
        color: #00ff00;
        }
.count	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
.result-header {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-size: 14pt;
	}
.item-info {
	color: #ffffff;
	background: #1111222;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	}
.text-btn {
	background: #ffff88;
	color: #ffffff;
	}
.text-btn A:link {
	color: #ff8800;
	}
.text-btn A:visited {
	color: #aaffff;
	}
.note	{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	}
td,th	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffff;
	}
.total-desc {
	background: #ffcc88;
	font-size: 12pt;
	}
.total-amount {
	background: #ddee88;
	font-size: 12pt;
	}
.total-final {
	background: #006633;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	}
.cart {
	background: #ffffff;
	}
.checkout {
	background: #000000;
	border: inset;
	}
