A:link  {
        color: #000066;
        }
A:visited {
        color: #006600;
        }
A:active {
        color: #ff0000;
        }
body {
	background-color: #aaccaa;
	color: #000000;
	}
.link {
        color: #000000;
	font-family: serif;
	font-size: 24pt;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	color: #333300;
	margin: 0;
	padding: 0;
	}
.page-title {
        color: #006600;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
