body	{
	background-color: #cceecc;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	}
.nav	{
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
	}
.menu-status {
	font-size: 8pt;
	}
.current {
	color: #ffff88;
	background: #884400;
	font-weight: bold;
	}
.page-title, .title {
	background: url(/tools/img/bg/light/);
	width: 100%;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	color: #662200;
	}
.section-title {
	font-size: 12pt;
	color: #663300;
	background: #ffffaa;
	}
.status	{
	font-size: 8pt;
	font-style: italic;
	}
.signoff {
	font-size: 18pt;
	font-weight: bold;
	color: #664422;
	font-family: serif;
	}
.topic	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12pt;
	color: #ccaa66;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	}
sup	{
	font-family: sans-serif;
	font-size: 6pt;
	color: #ff0000;
	}
.sup-note {
	color: #ff8800;
	}
.alert	{
	color: #ffaa66;
	}
