A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
body {
	background: url(/tools/img/bg/complex/);
	background-color: #000044;
	color: #ffffff;
	}
.page-title {
        color: #ffffff;
	font-family: serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	}
td.menu {
	background: #ffffff;
	}
.menu-title {
        width: 100%;
        background-color: #cccccc;
        color: #000000;
        font-family: serif;
        font-size: 14pt;
        font-weight: bold;
        }
.menu-text {
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        }
.menu-dept {
        font-size: 12pt;
        background-color: #ffff80;
        }
.menu-area {
	font-size: 10pt;
	}
.main	{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #ffffdd;
	margin: 0;
	padding: 0;
	}
.main A:visited {
        color: #88ff00;
        }
.main A:link {
        color: #00ff00;
        }
.word-stats	{
	color: #aaaaaa;
	font-size: 8pt;
	}
.nav	{
	color: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	}
.nav A:link {
	color: #aaffaa;
	}
.nav A:visited {
	color: #aaee99;
	}
ul	{
	font-size: 14pt;
	background: #000000;
	}
ul ul	{
	font-size: 12pt;
	font-weight: bold;
	}
ul ul ul	{
	font-size: 10pt;
	}
ul A:visited {
        color: #ffcc00;
        }
ul A:link {
        color: #aaff00;
        }
ul ul A:visited {
        color: #ccff00;
        }
ul ul A:link {
        color: #00ff00;
        }
